.layout {
  height: 100vh;

  display: flex;
  flex-direction: row;
}
.main {
  width: 87%;
}
.reports__heading {
  font-style: italic;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--color-main-darker);
}

.reports__main {
  padding: 6.5rem 8rem;
  text-align: center;
}
.reports__title {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--color-main-darker);
  margin-bottom: 4rem;
}
.reports__report {
  width: 85%;
  padding: 3.8rem 2rem;
  background-color: var(--color-main-darkest);
  text-align: start;
  color: var(--color-white);
  font-weight: bold;
  border-radius: 1.5rem;
}
.reports__report-title {
  margin-bottom: 4rem;
}
.reports__report-info {
  font-size: 1.6rem;
  font-style: italic;
}

.table {
  border-radius: 1rem;
  border: transparent !important;
  outline: 4px solid var(--color-main-darker);
  box-shadow: inset var(--shadow-sidebar-thead);
}
/*
tr {
  height: 7.5rem;
} */
thead {
  background-color: var(--color-main-darker);
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 800;
}
td {
  border-bottom-width: 0 !important;
  padding: 0 !important;
}
.t-span {
  height: 7rem;
  align-items: center;
}

tbody tr:nth-child(even) {
  background: var(--color-row-even);
}
tbody tr:nth-child(odd) {
  background: var(--color-row-odd);
}

td:first-of-type {
  padding-left: 4rem;
}
